<div class="container">
    <div class="mt-3"></div>
    <div class="accordion" id="accordionExample">
        <div class="card" *ngFor="let survey of surveys">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        {{survey.topicId}} - {{survey.topicName}}
                    </button>
                </h2>
            </div>
            <div [attr.id]="'survey'+survey.topicId" class="collapse show" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="card-body">
                    <form>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let question of questions">{{question.question}}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let data of survey.data">
                                    <td>{{data.desc}}</td>
                                    <td *ngFor="let questions of data.questions">
                                        <div [attr.id]="data.ref" class="form-check"
                                            *ngFor="let option of questions.options">
                                            <input class="form-check-input" name="check" type="checkbox" value=""
                                                id="defaultCheck1" [(ngModel)]="option.v">
                                            <label class="form-check-label" for="defaultCheck1">
                                                {{option.q}}
                                                <div *ngIf="questions.allowTextAnswer && option.q=='Other' && option.v">
                                                    <input name="textans" class="form-control" type="text"
                                                        placeholder="" [(ngModel)]="questions.textAnswer">
                                                </div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" (click)="click()" class="btn btn-primary" id="submit">
        SUBMIT
    </button>
</div>